<div class="container">
    <% @books.each do |book| %>
      <%= link_to book_path(book), :action => 'go' do %>
        <div class="card">
          <div class="book_picture">
            <%= cl_image_tag book.photo.key %>
          </div>
          <div class="book_content">
            <h2><%= book.title %> by <%= book.author %></h2>
            <%= book.rich_summary %>
            <div class="rating_position">
              <p>Rating: <%= book.rating %>/10</p>
            </div>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to  "edit", edit_book_path(book), class: "btn btn-secondary", style: "width: 100px" %>
        <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger", style: "width: 100px" %>
      <% end %>
    <% end %>
</div>


