<div class="container" style="background-color: white; border-radius: 8px; border: solid; padding:48px; margin-bottom: 100px">
  <h1>Hello new book</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <label class="string required" for="book_summary">Summary <abbr title="required">*</abbr></label>
    <%= f.rich_text_area :rich_summary %>
    <label class="string required" for="book_summary">Notes <abbr title="required">*</abbr></label>
    <%= f.rich_text_area :rich_notes %>
    <%= f.input :rating, error: 'Has to be between 0 - 10' %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-secondary" %>
  <% end %>
</div>

